@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
	font-family: "Roboto",sans-serif;
}
::-webkit-input-placeholder {
  color: #A0A0A0 !important;
  font-size: 16px!important;
  font-weight: 400!important;
}

:-ms-input-placeholder {
  color: #A0A0A0 !important;
  font-size: 16px!important;
  font-weight: 400!important;
}
::placeholder {
	color: #A0A0A0 !important;
  font-size: 16px!important;
  font-weight: 400!important;
}
.nav-btn:hover{
	background-color: rgba(0, 96, 114, 0.6);
}
.banner-image{
	background-image: url('../asset/Landing-Page-background-image.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.head_item{
	font-size: 17px;
	text-decoration: none;
	padding: 10px 10px;
	margin: auto 5px;
	line-height: 40px;
	letter-spacing: 0;
	text-align: right;
}

.scroll-active {
	background-color: #73706C;
	opacity: 1;
}
.active{
	border: 1px solid #FFFFFF80;
	border-radius: 30px;
	max-height: 40px;
	height: 100%;
}

nav ul li a:hover{
	border: 1px solid #FFFFFF80;
	border-radius: 30px;
}
#drpdwn:hover{
	border: none;
}

.ctr-btn {
	display: inline-block;
	background-color: rgba(0, 96, 114, 0.6);
	border-radius: 27px;
	border: 1px solid #FFFFFF;
	height: 54px; line-height: 52px;
	color: #fff !important;
	text-decoration: none;
	min-width: 225px;
	font-size: 18px;
	transition: background-color 0.3s ease;
}
.ctr-btn:hover{
	background-color: white;
	color:rgba(0, 96, 114, 0.6)!important;
}

.banner-image a.scroll-link {
	display: inline-block;
	position: relative;
	transition: all 0.3s;
}
.banner-image a.scroll-link:hover {
	transform: translateY(10px);
}
.banner-image {
	padding: 200px 0 80px;
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
}
.banner-image .scroll-link-wrapper {
	position: absolute;
	left: 0;
	top: auto;
	bottom: 30px;
	right: 0;
	text-align: center;
}
.banner-image .container {
	max-width: 1460px;
	padding: 0 25px;
}
.banner-image h1 {
	margin-bottom: 14px;
	font-size: 50px;
	font-weight: 500;
	color: white;
}
.banner-image ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 15px;
}
.banner-image ul li {
	position: relative;
	color: #fff;
	padding-left: 28px;
	margin-bottom: 5px;
	line-height: 1.38;
}
.banner-image ul li:last-child {
	margin-bottom: 0;
}
.banner-image ul li:before {
	position: absolute;
	content: '';
	left: 0;
	top: 5px;
	width: 13px;
	height: 10px;
	background-image: url('../asset/ic-check.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-image .btn-wrapper {
	margin-bottom: 160px;
}
.banner-image .step-wrapper {
	max-width: 1090px;
	margin: 0 auto 35px;
}
.banner-image .step-wrapper .row .col-lg-3 {
	text-align: center;
	padding: 0;
	position: relative;
}
.banner-image .step-wrapper .row .col-lg-3+.col-lg-3 .step {
	padding-left: 140px;
}
.banner-image .step-wrapper .row .col-lg-3+.col-lg-3 .step:before {
	position: absolute;
	content: '';
	top: 20px;
	left: 35px;
	width: 85px;
	height: 23px;
	background-image: url('../asset/step-arrow-1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-image .step-wrapper .row .col-lg-3:nth-child(odd) .step:before {
	background-image: url('../asset/step-arrow-1-copy.png');
}
.banner-image .step-wrapper .row .step span {
	display: block; margin-bottom: 35px;
}
.banner-image .step-wrapper .row .step span img {
	display: inline-block;
	max-width: 62px;
}
.banner-image .step-wrapper .row .step p {
	color: #ffff;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 0;
}
.post-code{
	margin:auto;
}

/*End of Homepage Section */


/*Why Helperhand Section */
#Helperhand  h2{
  font-weight: 700;
  color: #4F4F4F;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0px;
  margin: 40px auto;
}
#Helperhand .helper-info{
  margin: auto;
  display: flex;
  flex-basis: auto;
}
#Helperhand .helper-info img{
  width: 319.5px;
  height: 319.5px;
  text-align: center;
  margin-bottom: 20px;
}

#Helperhand .helper-info h3{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
}

#Helperhand .helper-info p{
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
}
/*End of Why Helperhand Section */

/*our blog section starts*/

.blog_section { padding: 135px 0 50px; position: relative; }
.f_color{
	color: #4F4F4F;
}
.blog_section:before {
	content: '';
	position: absolute;
	left: 0;
	top: 100px;
	background-image: url(../asset/blog-left-bg.png);
	background-repeat: no-repeat;
	width: 154px;
	height: calc(100% - 100px);
	z-index: -1;
}
.blog_section:after {
	content: '';
	position: absolute;
	right: 0;
	top: 100px;
	background-image: url(../asset/blog-right-bg.png);
	background-repeat: no-repeat;
	width: 174px;
	height: calc(100% - 100px);
	z-index: -1;
}
.our_blog_info {
	padding: 0 0 10px;
}
.our_blog_info h2 {
	max-width: 500px;
	font-weight: 700;
}
.our_blog_info p {
	font-size: 18px;
	margin: 0 0 25px;
	max-width: 620px;
	font-weight: 400;
}
.our_blog_info .image-wrapper {
	text-align: right;
}
.our_blog_main h2 {
	margin: 0 0 62px;
	font-size: 40px;
	font-weight: 700;
}
.our_blog_main .blog-image {
	position: relative;
	padding-bottom: 45.5%;
}
.our_blog_main .blog-image img {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
.our_blog_main .blog_content {
	padding: 20px;
	background: #fff;
	border-radius: 0 0 4px 4px;
}
.our_blog_main .blog_content p {
	margin: 0 0 20px;
}
.our_blog_main .blog_content h3 {
	font-size: 20px;
	color: #3d4046;
	margin: 0;
	font-weight: 700;
}
.our_blog_main .blog_content span {
	font-size: 13px;
	color: #a3a3a3;
	display: block;
	margin: 0 0 10px;
}
.our_blog_main .blog-detail {
	box-shadow: 0 0 30px 0 #e4ebf0;
}
.arrow-link {
	font-size: 18px;
	color: #4f4f4f !important;
	font-weight: 400;
	text-decoration: none;
}
.arrow-link em {
	margin-left: 10px;
	position: relative;
	right: 0;
	transition: all 0.5s;
}
.read-arrow{
	transition: ease 0.5s;
}
.read-arrow:hover{
	transform: translate(10px);
}
/*our blog section ends*/

/*customer section*/

.customer_section {
	padding: 58px 0;
	background-color: #F4F5F8;
}
.customer_section h2 {
	margin-bottom: 56px;
	font-weight: 700;
	font-size: 40px;
}
.customer_section .customer-wrapper {
	margin: 0 -26px -40px;
}
.customer_section .customer-wrapper>div {
	padding: 0 26px 40px;
}
.customer_section .customer-wrapper .customer-inner {
	border-left: 3px solid #1d7a8c;
	box-shadow: 0 0 30px 0 #e4ebf0;
	padding: 43px 20px 30px 40px;
	position: relative;
	border-radius: 4px;
	background: #fff;
}
.customer_section .customer-wrapper .customer-inner .person-image {
	height: 70px;
	max-width: 70px;
	flex: 0 0 70px;
	border-radius: 50%;
}
.customer_section .customer-wrapper .customer-inner .person-image img {
	height: 100%;
	width: 100%;
	max-width: inherit;
	object-fit: cover;
	border-radius: 50%;
}
.customer_section .customer-wrapper .customer-inner .p_content {
	max-width: calc(100% - 70px);
	flex: 0 0 calc(100% - 70px);
	padding-left: 15px;
}
.customer_section .customer-wrapper .customer-inner .p_content span {
	display: block;
}
.customer_section .customer-wrapper .customer-inner .p_content .person-name {
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
}
.customer_section .customer-wrapper .customer-inner .p_content .person-city {
	color: #8E8E8E;
	font-size: 14px;
}
.customer_section .customer-wrapper .customer-inner .message-infor {
	position: absolute;
	right: 20px;
	top: 20px;
}
.customer_section .customer-wrapper .customer-inner .person-info {
	margin-bottom: 22px;
}
.customer_section .customer-wrapper .customer-inner p {
	color: #565656;
	line-height: 1.38;
	margin-bottom: 22px;
}

/*customer section end*/

/*get our news letter*/
.news_letter {
	padding-bottom: 55px;
	background: #F4F5F8;
}
.news_letter .container {
	position: relative;
	max-width: 1420px;
}
.news_letter a {
	display: inline-block;
}
.news_letter .scroll-top {
	position: absolute;
	width: 48px;
	height: 48px;
	background: #525252;
	border-radius: 50%;
	left: 0;
	line-height: 45px;
}
.news_letter .message-boat {
	position: absolute;
	width: 63px;
	height: 63px;
	right: 0;
}
.news_letter h2 {
	font-size: 18px;
	margin-bottom: 16px;
}
.news_letter .form-row .form-control {
	border-radius: 20px;
	border: solid 1px #565656;
	background-color: #f4f5f8;
	color: #565656;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0 22px;
}
.news_letter .form-row .form-control:focus {
	box-shadow: none;
}
.news_letter .btn-wrapper {
	margin-left: 11px;
}
.submit_btn {
	background-color: #FF7B6D;
	font-size: 14px;
	line-height: 37px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #fff;
	width: 88px;
	transition: 0.3s all;
}
/*get our news letter end*/

/*footer*/
.site-footer .container {
	max-width: 1420px;
}
.site-footer .footer-top {
	background: #111111;
	padding: 27px 0;
}
.site-footer a {
	display: inline-block;
}
.site-footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover {
	opacity: 0.8;
}
.site-footer ul.footer-navigation {
	flex-wrap: wrap;
}
.site-footer ul.footer-navigation li+li {
	margin-left: 30px;
}
.site-footer ul.footer-navigation li a {
	color: #F1F1F1;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 2.14;
	transition: opacity 0.3s;
}
.site-footer ul.social-media-list li {
	text-align: center;
}
.site-footer ul.social-media-list a {
	width: 20px;
	height: 20px;
	transition: opacity 0.3s;
}
.site-footer ul.social-media-list li:last-child {
	margin-left: 20px;
}
/*footer end*/

/*FAQ*/
.faq_nav_bg{
	background-color: #737381;
}

.faq_active{
	background-color: rgba(0, 96, 114, 0.6);
	border-radius: 27px;
	border: 1px solid #FFFFFF;
	color: #fff !important;
	text-decoration: none;
	transition: all 0.3s ease;
}
.faq_active:hover{
	background-color: white;
	color: #006072!important ;
}
.faq_img{
	background-image: url('../asset/faq-banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 370px;
	height: 100%;
}
.faq_title h1{
	font-size: 39.5px;
	font-weight: 500;
	color: #4F4F4F;
	margin-top: 32px;
}

h4{
	text-align: center;
	font-size: 40px;
	max-width: 170px;
	margin: 100px auto;
	position: relative;
}

h4:before{
	content: "";
	width: 70px;
	height: 2px;
	display: block;
	background-color: #CCCCCC;
	position: absolute;
	top: 50%;
	left: 0;
}
h4:after{
	content: "";
	width: 70px;
	height: 2px;
	display: block;
	background-color: #CCCCCC;
	position: absolute;
	top: 50%;
	right: 0;
}

.faq_desc{
	color: #646464;
	font-size: 18px;
	font-weight: 400;
	height: 48px;
	font-family: "Roboto",sans-serif;
}


.faq-btn {
	width: 946px;
	height: 166px;
}
.faq-pilicy p {
	font-size: 14px;
	padding: 20px 0px;
	margin: 0px;
	color: #9ba0a3;
}
.footer-separator {
	height: 1px;
	margin: 1rem 0;
	background-color: #424242;
	border: 0;
	opacity: 1;
}
.accordion-faq {
	max-width: 946px;
	margin: 36px auto 60px;
}

.accordion-faq .nav-tabs {
	border: none;
}

.accordion-faq .nav-tabs .nav-item {
	width: 50%;
	border-bottom: 4px solid #1d7a8c;
	font-family: "Roboto",sans-serif;
	font-weight: 500;
}

.accordion-faq .nav-tabs .nav-item .nav-link {
	margin: auto;
	font-size: 24px;
	line-height: 42px;
	outline: none;
	border-radius: 0;
	color: #646464;
	text-transform: uppercase;
}

.accordion-faq .nav-tabs .nav-item .active{
	border: none;
	text-align: center;
	width: 100%;
	color: white;
	border: 2px solid #1d7a8c;
	background-color: #1d7a8c;
}

.accordion-faq .accordion {
	margin-top: 48px;
}

.accordion-faq .accordion .accordion_item {
	margin-bottom: 44px;
}

.accordion-faq .accordion .accordion_btn {
	position: relative;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #646464;
	margin-left: 25px;
	max-width: fit-content;
	font-family: "Roboto",sans-serif;
}

.accordion-faq .accordion .accordion-body p {
	margin: 0;
}

.accordion-faq .accordion .accordion-body {
	font-size: 16px;
	max-width: 894px;
	margin: 22px auto 0;
	padding: 0;
	line-height: 24px;
	color: #646464;
	font-weight: normal;
}

.accordion-faq .accordion .accordion_btn::before {
	content: "";
	background-image: url(../asset/down-arrow.png);
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: -28px;
	top: -2px;
}

.accordion-faq .accordion .accordion_btn.collapsed::before {
	background-image: url(../asset/vector-smart-object-copy.png);
}
.faq-policy p {
	font-size: 14px;
	padding: 10px 0px;
	margin: 0px;
	color: #9ba0a3;
}
.footer-separator {
	height: 1px;
	margin: 1rem 0;
	background-color: #424242;
	border: 0;
	opacity: 1;
}
/*End of FAQ*/

/*---media queries---*/

@media (max-width: 768px) {
	div.arrow {
		display: none;
	}
	.sp_detail{
		max-width: 767px;
		width: auto;
		justify-content: center;
	}
	.sp_detail .col-md-2{
		width: auto;
		text-align: center;
	}
	.sp_detail .col-md-3{
		width: auto;
		padding-right: 10px;
	}
	.sp_detail .col-md-3 #cap{
		display: none;
	}
	.sp_detail .col-md-7{
		width: auto;
	}
	.sp_detail #export_end{
		margin-left: auto;
	}
	.sp_detail .sh_title{
		margin-left: 30px;
	}
	.sh_cap_border{
		display: none;
	}
	.sp_detail .sp_details .col-sm-9{
		width: auto;
	}
	.sp_detail .col-md-4{
		width: auto;
		text-align: center;
	}
	.sp_detail_head_bg{
		justify-content: center;
	}
	.sp_details{
		justify-content: center;
	}
	.sp_menu ul li a{
		font-size: 12px!important;
	}
	.howitwork_info #hiw_row1,#hiw_row2,#hiw_row3{
		text-align: center;
	}
	.user_status_active{

		width: 60px;
	}
	.user_status_inactive{

		width: 60px;
	}
	.user_mng_head_row .col-md-6{
		width: auto;
	}
	.user_mng_head_row .col-md-4{
		width: auto;
		text-align: center;
	}
	.user_mng_head_row .col-md-2{
		width: auto;
		text-align: center;
	}
	.user_mng_search{
		height: 350px;
		background-color: #F4F4F4;
	}
	.user_mng_search_form{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.user_mng_search_form div{
		width: auto;
		margin: 5px;
	}
	.user_mng_search_form .input-group{
		padding: 0px;
		margin: 0px;
	}
	.service_req_detail .user_mng_search{
		height: 460px;
		background-color: #F4F4F4;
	}
}
@media screen and (max-width: 991px) {
	.about-nav li {
		margin: 15px;
	}
	.pro-pane-left {
		text-align: center;
	}
	.pro-pane-right {
		text-align: center;
	}
	.prices_img{
		display: none;
	}
	.faq_title{
		margin-top: 90px;
	}
	.contact_img{
		display: none;
	}
	.site-footer{
		position: sticky;
	}
}
@media screen and (min-width: 992px) {
	.pro-pane-left {
		text-align: end;
	}
	.pro-pane-right {
		text-align: start;
	}
}
@media screen and (max-width: 970px){
	.accordion-faq .accordion {
	margin-top: 48px;
	margin-left: 40px;
}

.accordion-faq .accordion .accordion_item {
	margin-bottom: 44px;
	margin-left: 40px;
}
}
@media screen and  (max-width: 991px){

	div ul .nav-item{
		border: none;
		margin: 10px auto;
		background-color: transparent;
		font-size: 22px;
		font-weight: 500;
	}
	div ul .nav-item:hover{
		background-color: white;
		border-radius: 30px;
		color: #4F4F4F !important;
		transition: all 0.3s ease;
	}
	.home_nav_bg{
		background-color: #73706C;
	}
	.howitwork_section{

		justify-content: center;
		align-items: center;
		margin: 10px 30px;
	}
	.howitwork_section #hiw_row1,#hiw_row3{
		flex-wrap: wrap-reverse;
	}
	.howitwork_section #hiw_row1,#hiw_row2,#hiw_row3{
		justify-content: center;
	}
	.howitwork_info .col-lg-2{
		width: auto;
	}
	.vertical_line{
		display: none;
	}
	.notification{
		margin: 10px auto;
		padding-right: 20px;
		background-color: transparent;
		font-size: 22px;
		font-weight: 500;
	}
	.sp_user{
		margin: 10px auto;
		background-color: transparent;
	}

	.user_mng{
		display: none;
	}
	.user_mng_head_menu{
		display: block;
		list-style-type: none;
	}
	.user_mng_head_menu li{
		justify-content: center;
		align-items: center;
		line-height: 45px;
		text-align: center;
	}
	.user_mng_head_menu li a{
		text-decoration: none;
		color: white;
		font-size: 20px;
		padding: 10px;
	}
	.user_mng_head_menu li a:hover{

		background-color: #FFFFFF;
		color: #1FB6FF!important;
		border: none;
		border-radius: 17px;
	}
	.user_mng_detail{
		margin-right: 0px!important;
	}
	.user_mng_detail .sp_detail_head_bg p{
	font-size: 14px;
	font-weight: 700;
	color: #646464;
}
}
@media (max-width: 816px){
	.sp_detail p{
		font-size: 12px;
		font-weight: 700;
		color: #646464;
	}
	.sp_details{
		height: 71px;
		border: 1px solid #E1E1E1;
	}
	.sp_details p{
		font-size: 12px;
		color: #646464;
		font-weight: 400;
	}
	.sp_detail_cancel{
		color: white;
		background-color: #FF6B6B;
		border-radius: 17px;
		height: 34px;
		width: 60px;
		border: none;
		font-size: 12px;
	}
	.sh_payment{
		font-size: 18px;
	}
	.service_req_status_completed{
	width: 60px;
}
.service_req_status_cancelled{
	width: 60px;
}
.service_req_status_new{
	width: 40px;
}
.service_req_status_pending{
	width: 60px;
}
}


@media (max-width: 1112px){
	.sp_main{
		flex-direction: column;
	}
	.sp_menu{
		background-color: #1D7A8C;
		width: auto;
		height: auto;
		margin-right: 0px;
	}
	.sp_menu_details{
		width: auto;
		padding-top: 0px;
	}
	.sp_menu ul{
		list-style-type: none;
		text-align: center;
	}
	.sp_menu ul li a{
		line-height: 55px;
		padding: 10px 10px 10px 10px;
		margin: 0px 0px;
		border: none;
		font-size: 18px;
		color: #FFFFFF;
		font-weight: 400;

	}
	.sp_menu ul li{
		display: inline-block;
		border: none;
	}
	.sp_menu_active{
		background-color: #146371;
		border-left: 1px solid white;
		border-radius: 17px;
	}
	.sp_detail{
		width: 100%;
		justify-content: center;
		text-align: center;
		margin: 0px;
	}

}
@media(max-width: 1300px){

	.s_req_cal,.s_req_home,.s_req_time{
		display: none;
	}
	.service_req_detail .sp_detail_head_bg{
		justify-content: center!important;
	}
	.service_req_detail .sp_detail_head_bg .col-md-2{
    	width: auto!important
    }
    .service_req_detail .sp_detail_head_bg .col-md-3{
    	width: auto!important;
    }
    .service_req_detail .sp_detail_head_bg .col-md-1{
    	width: auto!important;
    	text-align: center;
    }
    .service_req_detail .sp_details{
    	justify-content: center!important;
    	height: auto;

    }
    .service_req_detail .sp_details .sh_cap_border{
    	display: none;
    }
    .service_req_detail .sp_details .col-md-2{
    	width: auto!important;
    }
    .service_req_detail .sp_details .col-md-3{
    	width: auto!important;
    }
    .service_req_detail .sp_details .col-md-1{
    	width: auto!important;
    	text-align: center;
    }
}
@media(max-width:1440px) {
    .news_letter .scroll-top { left: 20px; }
    .news_letter .message-boat { right: 20px; }

    .service_req_detail .sp_detail_head_bg .col-md-2{
    	width: 15%!important;
    }
    .service_req_detail .sp_detail_head_bg .col-md-3{
    	width: 25%!important;
    }
    .service_req_detail .sp_detail_head_bg .col-md-1{
    	width: 10%!important;
    }
    .service_req_detail .sp_details .col-md-2{
    	width: 15%!important;
    }
    .service_req_detail .sp_details .col-md-3{
    	width: 25%!important;
    }
    .service_req_detail .sp_details .col-md-1{
    	width: 10%!important;
    }

}
@media(max-width: 1548px){
	.user_mng_detail .sp_detail_head_bg .col-md-2{
		width: 12%!important;
	}
	.user_mng_detail .sp_detail_head_bg .col-md-3{
		width: 16%!important;
	}
	.user_mng_detail .sp_detail_head_bg .col-md-1{
		width: 12%!important;
	}
	.user_mng_detail .sp_details .col-md-2{
		width: 12%!important;
	}
	.user_mng_detail .sp_details .col-md-3{
		width: 16%!important;
	}
	.user_mng_detail .sp_details .col-md-1{
		width: 12%!important;
	}

}
@media (max-width: 1839px){

	.user_mng_detail .sp_detail_head_bg .col-md-2{
		width: 10%;
	}
	.user_mng_detail .sp_detail_head_bg .col-md-3{
		width: 20%;
	}
	.user_mng_detail .sp_detail_head_bg .col-md-1{
		width: 12%;
	}
	.user_mng_detail .sp_details .col-md-2{
		width: 10%;
	}
	.user_mng_detail .sp_details .col-md-3{
		width: 20%;
	}
	.user_mng_detail .sp_details .col-md-1{
		width: 12%;
	}
}
