@{
    ViewData["Title"] = "Helperland | About";
    Layout = "~/Views/Shared/PublicPageLayout.cshtml";
}

<div class="about_img">

</div>

<section class="about_us">
    <h2 class="text-center">A Few words about us</h2>
    <h4><img src="/asset/forma-1-copy-5.png" class="text-center"></h4>
    <div class="about_us_few_desc mx-auto text-center">
        <p>
            We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.

            We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.
        </p>

        
    </div>

</section>
<section class="about_story">

    <h2 class="text-center">Our Story</h2>
    <h4><img src="/asset/forma-1-copy-5.png" class="text-center"></h4>
    <div class="about_us_few_desc mx-auto text-center">
        <p>A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.</p>
    </div>
</section>
<section class="news_letter f_color bg-white">
    <div class="container text-center pt-4">

        <h2>GET OUR NEWSLETTER</h2>
        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="form-group">
                <label for="email" style="display: none;">YOUR EMAIL</label>
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
            </div>
            <div class="btn-wrapper">
                <button class="submit_btn">Submit</button>
            </div>
        </div>
    </div>
</section>
