@model Helperland.ViewModel.CustomerRegistrationViewModel

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/PublicPageLayout.cshtml";
}

<div class="create_accnt">
    <h1 class="text-center register">Create an Account</h1>
    <h4><img src="/asset/forma-1-copy-5.png" class="text-center"></h4>
    <div class="Contact_form mx-auto">
        <form class="row  g-3" asp-action="CustomerRegistration" asp-controller="Home">
            <div class="col-md-6">
                <input asp-for="FirstName" type="text" class="form-control" id="Firstname" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <input asp-for="LastName" type="text" class="form-control" id="Lastname" placeholder="Last Name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="E-mail address">
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="col-md-6">
                <div class="row g-0">

                    <div class="col-sm-12 input-group">
                        <span class="c_code align-items-center justify-content-center">+49</span>
                        <input asp-for="Phonenumber" type="tel" class="form-control" id="Phone number" placeholder="Mobile Number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" pattern="[0-9]{10}">

                    </div>
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <input asp-for="Password" type="password" id="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <input asp-for="confirmPassword" type="password" id="confirm_password"  class="form-control" placeholder="Confirm Password" >
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
                @*<span id="message"></span>*@
            </div>
            <div class="col-md-5 pt-3">
                <input id="isCheck" type="checkbox" name="policy_check" required>
                <label>I have read the <a href="#">Privacy Policy</a></label>
                <div id='message2' style="color: red; display: none;">Please accept Privacy Policy</div>
            </div>
            
            <div class="col-md-12 text-center">
                <button id="but" class="c_sub_btn" type="submit"><h3>Register</h3></button>
            </div>
            <div class="col-md-12 pt-1 text-center">
                <label>Already registered ?  <a asp-action="Index_Login" asp-controller="Home">Login Now</a></label>
            </div>
        </form>
    </div>
</div>