
@{
    ViewData["Title"] = "Helperland | Home";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}


<div class="banner-image ">
    <div class="container">
        <h1>Do not feel like housework?</h1>
        <h3>Great! Book now for Helperland and enjoy the benefits</h3>
        <ul>
            <li>certified & insured helper</li>
            <li>easy booking procedure</li>
            <li>friendly customer service</li>
            <li>secure online payment method</li>
        </ul>
        <div class="btn-wrapper text-center">
            <a asp-action="book_service" asp-controller="Home" title="Let's Book a Cleaner" class="ctr-btn">Let's Book a Cleaner</a>
        </div>
        <div class="step-wrapper" id="sw-1">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/asset/step-1.png">
                    <p>Enter your postcode</p>
                </div>
                <div class="col-lg-1">
                    <img src="/asset/step-arrow-1.png">
                </div>

                <div class="col-lg-2">
                    <img src="/asset/step-2.png">
                    <p>Select your plan</p>
                </div>
                <div class="col-lg-1">
                    <img src="/asset/step-arrow-1-copy.png">
                </div>

                <div class="col-lg-2">
                    <img src="/asset/step-3.png">
                    <p>Pay securely online</p>
                </div>
                <div class="col-lg-1">
                    <img src="/asset/step-arrow-1.png">
                </div>

                <div class="col-lg-3">
                    <img src="/asset/step-4.png">
                    <p>Enjoy amazing service</p>
                </div>
            </div>
        </div>

        <div class="step-wrapper" id="sw-2">
            <div class="row">
                <div class="col-md-2">
                    <img src="/asset/step-1.png">
                    <p>Enter your postcode</p>
                </div>
                <div class="col-md-2">
                    <img src="/asset/step-arrow-1.png">
                </div>

                <div class="col-md-2">
                    <img src="/asset/step-2.png">
                    <p>Select your plan</p>
                </div>
            </div>

            <div class="row pt-3 pb-3">
                <div class="col-md-6">

                </div>
                <div class="col-md-2">
                    <img src="/asset/step-arrow-1.png" class="rotate_90">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img src="/asset/step-4.png">
                    <p>Enjoy amazing service</p>
                </div>
                <div class="col-md-2">
                    <img src="/asset/step-arrow-1.png" class="rotate">
                </div>

                <div class="col-md-2">
                    <img src="/asset/step-3.png">
                    <p>Pay securely online</p>
                </div>
            </div>
        </div>

    </div>
    <div class="scroll-link-wrapper">
        <a href="Helperhand" title="Scroll Down" class="scroll-link">
            <img src="/asset/group-18_5.png" alt="Scroll-down">
        </a>
    </div>
</div>
<!-- home section end-->
<!--why helperland section-->
<section id="Helperhand">
    <div class="HelperHand container-fluid content">
        <h2>Why Helperland</h2>
        <div class="row helper-info">
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/asset/helper-img-1.png" alt="">
                <h3>Experience & Vetted Professionals</h3>
                <p>
                    dominate the industry in scale and scope with an adaptable,
                    extensive network that consistently delivers exceptional results.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/asset/group-23.png" alt="">
                <h3>Secure Online Payment</h3>
                <p>
                    Payment is processed securely online. Customers pay safely online and
                    manage the booking.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/asset/group-24.png" alt="">
                <h3>Dedicated Customer Service</h3>
                <p>
                    to our customers and are guided in all we do by their needs.
                    The team is always happy to support you and offer all the information.
                </p>
            </div>
        </div>
    </div>
</section>

<!--why helperland section end-->
<!--our blog section start-->
<section class="blog_section f_color">
    <div class="container">
        <div class="our_blog_info">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <h2 class="h2">Lorem ipsum dolor sit amet, consectetur</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                    <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                    <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="image-wrapper">
                        <img src="/asset/group-36.png" alt="Blog description">
                    </div>
                </div>
            </div>
        </div>
        <div class="our_blog_main">
            <h2 class="text-center">Our Blog</h2>
            <div class="row blog-wrapper">
                <div class="col-lg-4 col-sm-6 blog-detail-outer">
                    <div class="blog-detail">
                        <div class="blog-image">
                            <img src="/asset/group-28.png" alt="blog-image">
                        </div>
                        <div class="blog_content">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <span>January 28, 2019</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <a href="#" title="Read More" class="arrow-link">Read More<em><img src="/asset/shape-2.png" alt="right arrow"></em></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 blog-detail-outer">
                    <div class="blog-detail">
                        <div class="blog-image">
                            <img src="/asset/group-29.png" alt="blog-image">
                        </div>
                        <div class="blog_content">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <span>January 28, 2019</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <a href="#" title="Read More" class="arrow-link">Read More<em><img src="/asset/shape-2.png" alt="right arrow"></em></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 blog-detail-outer">
                    <div class="blog-detail">
                        <div class="blog-image">
                            <img src="/asset/group-30.png" alt="blog-image">
                        </div>
                        <div class="blog_content">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <span>January 28, 2019</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <a href="#" title="Read More" class="arrow-link">Read More<em><img src="/asset/shape-2.png" alt="right arrow"></em></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our blog section end-->
<!--customer section-->
<section class="customer_section f_color">
    <div class="container">
        <h2 class="text-center">What Our Customers Say</h2>
        <div class="row customer-wrapper">
            <div class="col-lg-4 col-sm-6 last-inner">
                <div class="customer-inner">
                    <em class="message-infor">
                        <img src="/asset/message.png" alt="Message Info">
                    </em>
                    <div class="person-info d-flex align-items-center">
                        <div class="person-image">
                            <img src="/asset/group-31.png" alt="Lary Watson">
                        </div>
                        <div class="p_content">
                            <span class="person-name">Lary Watson</span>
                            <span class="person-city">Manchester</span>
                        </div>
                    </div>
                    <div class="person-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="#" title="Read More" class="arrow-link">Read More <em><img src="/asset/shape-2.png" alt="Right Arrow"></em></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 last-inner">
                <div class="customer-inner">
                    <em class="message-infor">
                        <img src="/asset/message.png" alt="Message Info">
                    </em>
                    <div class="person-info d-flex align-items-center">
                        <div class="person-image">
                            <img src="/asset/group-32.png" alt="John Smith">
                        </div>
                        <div class="p_content">
                            <span class="person-name">John Smith</span>
                            <span class="person-city">Manchester</span>
                        </div>
                    </div>
                    <div class="person-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="#" title="Read More" class="arrow-link">Read More <em><img src="/asset/shape-2.png" alt="Right Arrow"></em></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 last-inner">
                <div class="customer-inner">
                    <em class="message-infor">
                        <img src="/asset/message.png" alt="Message Info">
                    </em>
                    <div class="person-info d-flex align-items-center">
                        <div class="person-image">
                            <img src="/asset/group-31.png" alt="Lars Johnson">
                        </div>
                        <div class="p_content">
                            <span class="person-name">Lars Johnson</span>
                            <span class="person-city">Manchester</span>
                        </div>
                    </div>
                    <div class="person-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="#" title="Read More" class="arrow-link">Read More <em><img src="/asset/shape-2.png" alt="Right Arrow"></em></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cutomer section end-->
<!--our news letter section-->
<section class="news_letter f_color">
    <div class="container text-center">
        <a href="#" class="scroll-top"><img src="/asset/forma-1.png" alt="up-arrow"></a>
        <a href="#" class="message-boat"><img src="/asset/layer-598.png" alt="message-boat"></a>
        <h2>GET OUR NEWSLETTER</h2>
        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="form-group">
                <label for="email" style="display: none;">YOUR EMAIL</label>
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
            </div>
            <div class="btn-wrapper">
                <button class="submit_btn">Submit</button>
            </div>
        </div>
    </div>
</section>

